<h1>Cadastrar Vídeo</h1>

<form action="/videos" method="POST">

  <input type="text" name="titulo" placeholder="Título" />

  <br /><br />

  <input type="text" name="nomeCriador" placeholder="Criador" />

  <br /><br />

  <textarea name="descricao"></textarea>

  <br /><br />

  <input type="number" name="qtdVisualizacoes" placeholder="Visualizações" />

  <br /><br />

  <input type="number" name="qtdCurtidas" placeholder="Curtidas" />

  <br /><br />

  <input type="text" name="hastagPrinc" placeholder="Hashtag" />

  <br /><br />

  <input type="text" name="urlVideo" placeholder="URL Vídeo" />

  <br /><br />

  <input type="text" name="urlThumb" placeholder="URL Thumbnail" />

  <br /><br />

  <button type="submit">
    Salvar
  </button>

</form>